.div{
    color: red;
    text-align: center;
    margin-top: 20%;
}

.p1{
    padding-left: 43%;
}

.button_1{
    text-align: center;
    color:black;
    border-style : dotted;
     border-color: red;
}

.p2{
    padding-left: 3%;
}

.button_2{
    text-align:center;
    color:black;
    border-style:dotted;
    border-color:red;
}