.f_h1{
    color:chocolate;
     text-align: center;
}

.f_p1{
    color: chocolate;
}

.label_1{
    color: burlywood;
}

.input_1{
    color: red;
}

.label_2{
    color: burlywood;
}

.input_2{
    color: red;

}
.label_3{
    color: burlywood;
    text-align: center;
}

.input_3{
    color:red
}